<div class="col-12 md:col-12 lg:col-12 no-padding header">
    <div class="col-12 md:col-12 lg:col-12 no-pad-btm hdr-shdw-btm" style="margin-bottom: px;background-color:white;">
        <div class="grid">
           <div fxLayout="row" class="col-7 md:col-4 lg:col-2 no-padding" style="font-size: 22px;color: azure;">
                <!-- <button  style="margin-top:8px;margin-bottom:5px;" type="button" pButton icon="pi pi-bars" label="Menu" (click)="menu.toggle($event)"></button>
<p-menu #menu [popup]="true" [model]="items"></p-menu> -->
               </div> 
            <div class="col-1 md:col-6 lg:col-8 txt-to-center ">
                <span style="font-size: 28px;color: #1a7599;margin-top:10px;margin-bottom:5px;">LIBRARY MANAGEMENT SYSTEM</span>
            </div>
            <div class="col-4 md:col-2 lg:col-2 txt-to-end no-padding">
                <span>
                    <button pButton pRipple type="button" label="Logout" icon="pi pi-power-off" class="p-button-rounded"
                       style="margin-top:5px;margin-bottom:5px;" (click)="onLogout()" ></button>
                </span>
            </div>
        </div>
    </div>
</div>

