<div class="col-12 md:col-12 lg:col-12" style="padding: 4.2rem 1rem;
background: linear-gradient(#1303f1, #1303f1);height: 100vh;">
    <div class="grid p-fluid to-center">

        <div class="col-11 md:col-10 lg:col-6 bdr-box-light-blue" style="background: white; border-radius: 10px;">
            <div class="col-12 md:col-12 lg:col-12 login-title hdr-shdw-btm">
                <div class="col-12 md:col-12 lg:col-12">
                    Student Login
                </div>
            </div>
            <form #f="ngForm" name="loginForm">
                <div class="col-12 md:col-12 lg:col-12" style="margin-top: 1.5rem;">
                    <div class="grid p-fluid to-center">
                        <div class="col-12 md:col-8 lg:col-8">
                            <div class="grid p-fluid to-center">
                                <div class="field col-12 md:col-8 lg:col-6">
                                    <div class="p-inputgroup">
                                        <span class="p-inputgroup-addon" style="background: #1303f1; color: white;
    border: 0.5px solid #1303f1 !important;"><i class="pi pi-user"></i></span>
                                        <span class="p-float-label p-input-icon-right">
                                            <input name="_register" type="number" style="background: white !important;"
                                                pInputText [(ngModel)]="registernumber" placeholder="register"
                                                autocomplete="off" required>
                                            <label for="float-input">registerNumber</label>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="grid p-fluid to-center">
                                <div class="col-12 md:col-8 lg:col-6">
                                    <div class="p-inputgroup">
                                        <span class="p-inputgroup-addon" style="background: #1303f1; color: white;
    border: 1px solid #1303f1 !important;">
                                            <i *ngIf="!showPwd" class="pi pi-lock"></i>
                                            <i *ngIf="showPwd" class="pi pi-unlock"></i>
                                        </span>
                                        <span class="p-float-label p-input-icon-right">
                                            <i *ngIf="!showPwd" class="pi pi-eye" (click)="onShowPwd()"></i>
                                            <i *ngIf="showPwd" class="pi pi-eye-slash" (click)="onShowPwd()"></i>
                                            <input #pwd id="pwd" name="_password" type="password" pInputText
                                                [(ngModel)]="password" placeholder="Password" autocomplete="off"
                                                required>
                                            <label for="float-input">Password</label>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="grid p-fluid to-center">
                                <div class="field col-12 md:col-8 lg:col-6">
                                    <div>
                                        <label class="cursor"><span class="txt-link">Forget
                                                Password?</span></label>
                                    </div>
                                </div>
                            </div>
                            <div class="grid p-fluid to-center">
                                <div class="col-6 md:col-4 lg:col-4">
                                    <button pButton type="button" class="p-button-raised p-button-rounded" label="Login"
                                        (click)="onLogin()" [disabled]="!f.valid"></button>
                                    <!-- style="background-image: linear-gradient(to right, #709df9, #e63ae9);" -->
                                </div>
                                <div class="col-12 md:col-12 lg:col-12 txt-to-center">
                                    or
                                </div>
                                <div class="col-12 md:col-12 lg:col-12 txt-to-center txt-link">
                                    <span class="cursor">
                                        Sign Up
                                    </span>
                                </div>
                            </div>
                            <div class="col-12 md:col-12 lg:col-12" style="height: 50px;"></div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>