<div class="col-12 md:col-12 lg:col-12 container">
    <div class="grid to-center">
        <!-- <div class="col-12 md:col-12 lg:col-12"> -->
        <p-panel header="LibRegisterForm">
            <div class="col-12 md:col-12 lg:col-12 box" style="margin-top: 20px;">
                <form #f="ngForm" name="LibRegisterForm">
                    <div #main class="col-12 md:col-12 lg:col-12">
                        <div class="grid to-center">
                            <div #row1 class="col-12 md:col-12 lg:col-12">
                                <div class="grid">

                                    <div class="col-12 md:col-4 lg:col-3">
                                        <span class="p-float-label">
                                            <input name="_username" type="text" [(ngModel)]="username" pInputText>
                                            <label for="_author">Username</label>
                                        </span>
                                    </div>
                                    <div class="col-12 md:col-4 lg:col-3">
                                        <span class="p-float-label">
                                            <input name="_email" type="email" (change)="onCheck()" [(ngModel)]="email"
                                                pInputText>
                                            <label for="_email">Your Email</label>
                                        </span>
                                    </div>
                                    <div class="col-12 md:col-4 lg:col-3">
                                        <span class="p-float-label">
                                            <input name="_password" type="password" [(ngModel)]="password" minlength="8"
                                                maxlength="8" (input)="check(password)"pInputText>
                                            <label for="_password">Password</label>
                                        </span>
                                    </div>

                                    <div class="col-12 md:col-4 lg:col-3">
                                        <span class="p-float-label">
                                            <input name="_confirmpassword" type="password" [(ngModel)]="confirmpassword"
                                                minlength="8" maxlength="8" (input)="checkPassword()" pInputText>
                                            <label for="_confirmpassword">Confirmpassword</label>
                                            <div *ngIf="showErrMsg" style="color: rgb(250, 15, 62); font-size: 12px;">
                                                Password did
                                                not match</div>
                                            <div *ngIf="showMatchMsg"
                                                style="color: rgb(28, 182, 92); font-size: 12px; text-align: left;">
                                                Password
                                                matched!</div>
                                            <div *ngIf="SpecialCharErrMsg"
                                                style="color: rgb(250, 15, 62); font-size: 12px; text-align: left;">
                                                Atleast one Special
                                                Character must!</div>
                                            <div *ngIf="NumericErrMsg"
                                                style="color: rgb(250, 15, 62); font-size: 12px; text-align: left;">
                                                Atleast one Numeric(0-9)
                                                must!</div>
                                            <div *ngIf="UpperCaseErrMsg"
                                                style="color: rgb(250, 15, 62); font-size: 12px; text-align: left">
                                                Atleast one
                                                Uppercase(A-Z) must!</div>
                                            <div *ngIf="LengthErrMsg"
                                                style="color: rgb(250, 15, 62); font-size: 12px; text-align: left">
                                                Minimum 8 Characters!</div>
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div #row3 class="col-12 md:col-11 lg:col-11 txt-to-center no-padding">
                                <button pButton type="button" label="Save" icon="pi pi-check"
                                    (click)="onSave()"></button>&nbsp;
                                <button pButton type="button" label="View" icon="pi pi-eye"
                                    (click)="onview()"></button>&nbsp;

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </p-panel>
        <!-- </div> -->

    </div>
</div>
<p-table #dt [columns]="cols" [value]="data" styleClass="p-datatable-gridlines" [loading]="loading">
    <ng-template pTemplate="caption">
        <div class="grid" style="width: -webkit-fill-available;">
            <div class="lg:col-6 no-pad-top no-pad-btm"></div>
            <div class="lg:col-6 table-hdr-export">

            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th>S.No:</th>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
            <th>Edit</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex" let-columns="columns">
        <tr>
            <td>{{rowIndex+1}}</td>
            <td *ngFor="let col of columns">
                {{rowData[col.field]}}
            </td>
            <td>
                <p-button icon="pi pi-pencil" (onClick)="onEdit(rowData)"></p-button>
            </td>
        </tr>
    </ng-template>
</p-table>