<div class="col-12 md:col-12 lg:col-12 container">
    <div class="grid to-center">
        <!-- <div class="col-12 md:col-12 lg:col-12"> -->
            <p-panel header="studentRequestForm">
                <div class="col-12 md:col-12 lg:col-12 box" style="margin-top: 20px;">
                    <form #f="ngForm" name="studentrequestForm">
                        <div #main class="col-12 md:col-12 lg:col-12">
                            <div class="grid to-center">
                                <div #row1 class="col-12 md:col-12 lg:col-12">
                                    <div class="grid">

                                       <div class="col-12 md:col-4 lg:col-3">
                                            <span class="p-float-label">
                                                <input name="_firstname" type="text" [(ngModel)]="firstname" pInputText>
                                                <label for="_firstname">FirstName</label>
                                            </span>
                                        </div>
                                       

                                        <div class="col-12 md:col-4 lg:col-3">
                                            <span class="p-float-label">
                                                <input name="_register" type="number" [(ngModel)]="registerNumber" pInputText>
                                                <label for="_register">RegisterNumber</label>
                                            </span>
                                        </div>

                                        <div class="col-12 md:col-4 lg:col-3">
                                            <span class="p-float-label">
                                                <p-dropdown name="_bookcategory" [autoDisplayFirst]="false" [options]="bookcategoryOptions" [(ngModel)]="bookcategory"
                                                [required]="true">
                                                </p-dropdown>
                                                <label for="_bookcategory">Book Category</label>
                                            </span>
                                        </div>

                                        
                                        <div class="col-12 md:col-4 lg:col-3">
                                            <span class="p-float-label">
                                                <p-dropdown name="_bookedition" [autoDisplayFirst]="false" [options]="bookeditionOptions" [(ngModel)]="bookedition"
                                                [required]="true">
                                                </p-dropdown>
                                                <label for="_bookedition">Book Edition</label>
                                            </span>
                                        </div>

                                        <div class="col-12 md:col-4 lg:col-3">
                                            <span class="p-float-label">
                                                <input name="_borrowdate" type="date" [(ngModel)]="borrowdate" pInputText>
                                                <label for="_borrowdate">Borrow Date</label>
                                            </span>
                                        </div>
                                        
                                        <div class="col-12 md:col-4 lg:col-3">
                                            <span class="p-float-label">
                                                <input name="_duedate" type="date" [(ngModel)]="duedate" pInputText>
                                                <label for="_duedate">Due Date</label>
                                            </span>
                                        </div>

                                    </div>
                                </div>
                               
                                <div #row3 class="col-12 md:col-11 lg:col-11 txt-to-center no-padding">
                                    <button pButton type="button" label="Save" icon="pi pi-check" (click)="onSave()"></button>&nbsp;
                                    <button pButton type="button" label="View" icon="pi pi-eye" (click)="onView()"></button>&nbsp;
                                            
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </p-panel>
        <!-- </div> -->
    </div>
</div>
